{% extends "layout.html" %}

{% block javascript %}
  <script type="text/javascript">
      $(document).ready(function() {
        $("#tabbed_area").tabs();
      });

      $('#tabbed_area').tabs({
        load: function(event, ui) {
            $(ui.panel).delegate('a', 'click', function(event) {
                $(ui.panel).load(this.href);
                event.preventDefault();
            });
        }
      });
  </script>
{% endblock %}

{% block content %}
{% if session.logged_in %}
    <h4><small>You are logged in!</small></h4>
{% else %}
  <h1>You are not logged in please go to <a href="/login">/login site</a> to log in.</h1>
{% endif %}
{% endblock %}
