{% extends "layout.html" %}

{% block javascript %}
<script type="text/javascript">
$(window).load(function(){
  var $rows = $('#password_list tr');
  $('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

    $rows.show().filter(function() {
      var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
      return !~text.indexOf(val);
  }).hide();
});
});

function showElementByVisible(obj) {
    if (document.getElementById(obj).style.visibility == "hidden") {
        document.getElementById(obj).style.visibility = "visible";
        document.getElementById("show_hide_pwd_bt_"+obj).value="Hide Password";
    } else {
        document.getElementById(obj).style.visibility = "hidden";
        document.getElementById("show_hide_pwd_bt_"+obj).value="Show Password";
    }
}
</script>
{% endblock %}

{% block content %}
<form class="form-search">
    <input type="text" id="search" placeholder="Type to search" class="form-search">
</form>
<table border="1"  cellspacing="1" class="table table-bordered table-condensed">
   <thead>
      <tr id="password_head">
        <th>Group</th>
        <th>Title</th>
        <th>User name</th>
        <th>Password (hidden)</th>
        <th>Notes</th>
        <th>URL</th>
        <th>Last mod. time</th>
        <th>Show password</th>
    </tr>
</thead>
<tbody id="password_list">
  {% for record in vault_records %}
  <tr>
    <td>{{record.group.encode('utf-8', 'replace')}}</td>
    <td>{{record.title.encode('utf-8', 'replace')}}</td>
    <td>{{record.user.encode('utf-8', 'replace')}}</td>
    <td id="{{record.last_mod|get_html_id}}" style="visibility: hidden">{{record.passwd.encode('utf-8', 'replace')}}</td>
    <td>{{record.notes.encode('utf-8', 'replace')}}</td>
    <td>{{record.url.encode('utf-8', 'replace')}}</td>
    <td>{{record.last_mod|datetimeformat}}</td>
    <td><input id="show_hide_pwd_bt_{{record.last_mod|get_html_id}}" type="button" value="Show Password" onClick="showElementByVisible('{{record.last_mod|get_html_id}}');" /></td>
  </tr>
  {% endfor %}
<tr>
    <td colspan="8"> </td>
</tr>
</tbody>
</table>
{% endblock %}

