{% extends "layout.html" %}

{% block javascript %}
<script type="text/javascript">
$(window).load(function(){
    var $rows = $('#password_list tr');
    $('#search').keyup(function() {
      var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

      $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
      }).hide();
    });
});
</script>
{% endblock %}

  {% block content %}
  <form action="" method="post">
    <div>
      <form class="form-search">
        <input type="text" id="search" placeholder="Type to search" class="form-search">
      </form>

      <table border="1"  cellspacing="1">
        <thead id="password_head">
          <tr>
            <th>Group</th>
            <th>Title</th>
            <th>User name</th>
            <th>Notes</th>
            <th>URL</th>
            <th>Last mod. time</th>
            <th>Modify entry</th>
          </tr>
        </thead>
        <tbody id="password_list">
          {% for record in vault_records %}
          <tr>
            <td>{{record.group.encode('utf-8', 'replace')}}</td>
            <td>{{record.title.encode('utf-8', 'replace')}}</td>
            <td>{{record.user.encode('utf-8', 'replace')}}</td>
            <td>{{record.notes.encode('utf-8', 'replace')}}</td>
            <td>{{record.url.encode('utf-8', 'replace')}}</td>
            <td>{{record.last_mod|datetimeformat}}</td>
            <td><input name="mod_radio" type="radio" value="{{record.last_mod|get_html_id}}" /></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="submit_button">
        <input type=submit value="Modify" method="post" class="btn"/>
      </div>
    </div>
  </form>
</div>
{% endblock %}
